.root {
    overflow: hidden;
}

/* .item:last-child {
    float: right;
} */

/* ActiveLink component */
.link {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /* font-size: 17px; */
}

.link:hover {
    background-color: var(--primary-color);
    color: black;
}

.active {
    background-color: var(--background-color);
    text-decoration: line-through;
}

/* EditorLink component */
.linkeditor {
    float: right;
}
