.root {
    overflow: hidden;
}

/* .item:last-child {
    float: right;
} */


/* ActiveLink component */
.link {
    /* color: var(--color-red); */
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /* font-size: 17px; */
}

.link:hover {
    background-color: #ddd;
    color: black;
}

.active {
    /* background-color: #04aa6d; */
    text-decoration: line-through;
}

/* EditorLink component */
.linkeditor {
    float: right;
}